.right {
  transform: rotate(180deg);
}

.forward {
  transform: rotate(90deg);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button {
  background: #95C11F;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 108px;
}