@font-face {
  src: url('/fonts/Stem-Bold.ttf') format('truetype');

  font-family: 'Stem';
  font-weight: 600; /* Bold */
}

@font-face {
  src: url('/fonts/Stem-Regular.ttf') format('truetype');

  font-family: 'Stem';
  font-weight: 400; /* Regular */
}

@font-face {
  src: url('/fonts/Stem-Medium.ttf') format('truetype');

  font-family: 'Stem';
  font-weight: 500; /* Medium */
}

@font-face {
  src: url('/fonts/Stem-Light.ttf') format('truetype');

  font-family: 'Stem';
  font-weight: 300; /* Light */
}

@font-face {
  src: url('/fonts/Stem-Thin.ttf') format('truetype');

  font-family: 'Stem';
  font-weight: 100; /* Thin */
}
