*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: transparent;
}

button {
  color: inherit;
  background: none;
  border: none;

  cursor: pointer;

  user-select: none;
}

img {
  user-select: none;
}

input {
  border-radius: 0;
  padding: 0;

  font-family: inherit;
}

ul,
ol {
  list-style-type: none;
}

hr {
  border: none;
}

textarea {
  font-family: inherit;

  color: inherit;

  resize: none;

  background: none;

  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

//::-webkit-scrollbar-thumb {
//  background-color: var(--accent-color-5);
//
//  transition: background-color 500ms;
//}
//
//::-webkit-scrollbar-track {
//  background-color: var(--additional-color-5);
//}

table, th, td, tbody, thead, tr {
  margin: 0;
  padding: 0;

  border: none;

  border-spacing: 0;

  border-collapse: collapse;

  vertical-align: top;

  text-align: left;
}

table {
  width: 100%;

  max-width: 100%;

  background-color: transparent;
}

th {
  text-align: left;

  font-weight: bold;
}
